# tcpdump output for debug
*.pcap

# generated hedaer file
vmlinux.h
*.skel.h

# target object file
*.o
# binary
a.out
udp2icmp
udp2icmp-test

# vscode workspace
.vscode/

# old code backup
backup/

# pack files
pack/src/
pack/*.tar.gz
pack/*.tar.zst
